Django==1.11.29
elasticsearch==7.6.0
elasticsearch-dsl==7.2.0
Pillow==7.1.2
pyasn1==0.4.8
pycryptodome==3.9.8
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2020.1
rsa==4.6
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
