{% extends "myadmin/base.html" %}

{% block mainbody %}
    <h3>
        会员信息添加
    </h3>
    <form id="edit-profile" action="{% url 'myadmin_users_insert' %}" class="form-horizontal" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>添加会员信息</legend>
            <div class="control-group">
                <label class="control-label" for="input01">账号：</label>
                <div class="controls">
                    <input type="text" name="username" class="input-xlarge" id="user_name" value="" />
                    <span class="error_tip"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">密码：</label>
                <div class="controls">
                    <input type="text" name="password" class="input-xlarge" id="pwd"/>
                    <span class="error_tip"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">真实姓名：</label>
                <div class="controls">
                    <input type="text" name="name" class="input-xlarge" id="input01"/>
                    <span class="error_tip"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">电话：</label>
                <div class="controls">
                    <input type="text" name="phone" class="input-xlarge" id="input01"/>
                    <span class="error_tip"></span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">email邮箱：</label>
                <span class="error_tip"></span>
                <div class="controls">
                    <input type="text" name="email" class="input-xlarge" id="email"/>
                    <span class="error_tip"></span>
                </div>
            </div>

<!--            <div class="control-group">-->
<!--                <label class="control-label" for="input01">所属企业：</label>-->
<!--                <div class="controls">-->
<!--                    <select name="compid">-->
<!--                        {% for vo in complist %}-->
<!--                            <option value="{{ vo.id }}">{{ vo.comp_name }}</option>-->
<!--                        {% endfor %}-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->


            <div class="form-actions">
                <button type="submit" class="btn btn-primary">添加</button> <button type="reset" class="btn">重置</button>
            </div>
        </fieldset>
    </form>


{% endblock %}
