{% extends "web/monweb/base.html" %}
{% load static from staticfiles %}

{% block cebody %}
    <h3>
        会员信息管理
    </h3>
    <form id="edit-profile" action="#" class="form-horizontal" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>编辑会员信息</legend>
            <div class="control-group">
                <label class="control-label" for="input01">账号：</label>
                <div class="controls">
                    123456
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">真实姓名：</label>
                <div class="controls">
                    <input type="text" name="name" class="input-xlarge" id="input01" value="姓名" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="input01">电话：</label>
                <div class="controls">
                    <input type="text" name="phone" class="input-xlarge" id="input01" value="1352275" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">email邮箱：</label>
                <div class="controls">
                    <input type="text" name="email" class="input-xlarge" id="input01" value="761545@" />
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">保存</button>
                <a href="#" class="btn">取消</a>
            </div>
        </fieldset>
    </form>
{% endblock %}