<!DOCTYPE html>
{% load static from staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>北京华信清安</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="{% static 'monweb/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'monweb/css/style.default.css' %}" id="theme-stylesheet">
      <link rel="icon" href="{% static 'favicon.ico' %}">
  </head>
  <body>
    <div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>欢迎登录</h1>
                  </div>
                  <p>北京华清监控系统</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                  <form  class="form-validate" id="loginFrom">
                    {% csrf_token %}
                    <div class="form-group">
                      <input id="login-username" type="text" name="username" required data-msg="请输入用户名" placeholder="用户名" value="admin" class="input-material">
                    </div>
                    <div class="form-group">
                      <input id="login-password" type="password" name="password" required data-msg="请输入密码" placeholder="密码" class="input-material">
                    </div>
                    <div class="form-group">
                    验证码：<br/>
                    <input type="text" name="code" id="code" class="span2" style="width:130px;"  />
                    <img src="{% url 'verify'%}" onclick="this.src='{% url 'verify' %}?sn='+Math.random()"/><br />
                    </div>
                    <button id="login1" type="button" class="btn btn-primary">登录</button>

                  </form>
                  <br />
                  <small>没有账号?</small><a href="#" class="signup">&nbsp;注册</a>
                  <br/>
                  <span id="info" style="color:red"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- JavaScript files-->
    <script src="{% static 'monweb/js/jquery.min.js' %}"></script>
    <script src="{% static 'monweb/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'monweb/js/jsencrypt.min.js' %}"></script>  <!--    加密库-->
    <script src="{% static 'monweb/js/jquery.validate.min.js' %}"></script><!--表单验证-->
    <!-- Main File-->
    <script src="{% static 'monweb/js/front.js' %}"></script>
    <script>

        /*动态获取生成的公钥文件*/
        var key= $.ajax({
            url: "static/monweb/master-public.pem",
            success: function(data, status) {
                return data;
            },
         });　　　　　　

        $(document).ready(function() {
            $("#login1").click(function ()  {
                alert("1111111111")
                var userName=$("#login-username").val();
                var passWord=$("#login-password").val();
                var Code = $("#code").val();
                if (userName == "" || passWord == "" || code == "") {
                    alert("用户名、密码、验证码不能为空！");
                    return false;
                }

                var PUBLIC_KEY = key.responseText;
                console.log(PUBLIC_KEY)
                //rsa加密
                var encrypt = new JSEncrypt();
                encrypt.setPublicKey(PUBLIC_KEY);
                var passWord=encrypt.encrypt(passWord);
                $.ajaxSetup({
                            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                        });
                $.ajax({
                    type: "post",
                    url: "/dologin",
                    data: {username: userName, password: passWord, code: Code},
                    dataType: "json",
                    success: function (data) {
                        console.log(data.url)
                        if(data.msg == 'success')
                        {

                            window.location.href=data.url;

                        }
                        else
                        {
                            $('#info').html(data.info);
                        }
                    },

                });

            })
        })

    </script>
  </body>
</html>