<!doctype html>
{% load static from staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>index</title>
    <script type="text/javascript" src="{% static 'monit/js/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'monit/css/comon0.css' %}">
</head>
	<script>
	$(window).load(function(){
             $(".loading").fadeOut()
            })

    /****/
    $(document).ready(function(){
        var whei=$(window).width()
        $("html").css({fontSize:whei/20})
        $(window).resize(function(){
            var whei=$(window).width()
         $("html").css({fontSize:whei/20})
    });
        });
	</script>
	<script type="text/javascript" src="{% static 'monit/js/echarts.min.js'%}"></script>
	<script language="JavaScript" src="{% static 'monit/js/js.js'%}"></script>
<body>
<div class="loading">
  <div class="loadbox"> <img src="{% static 'monit/picture/loading.gif'%}"> 页面加载中... </div>
</div>
<div class="head">
    <!-- 头 -->
    {% block title %}
    {% endblock %}
    <!-- 头结束 -->
    <div class="weather"><span id="showTime"></span></div>
        <div class="index_nav" >
        <ul style="height: 30px; margin-bottom: 0px;">
            <li class="l_left">网络全局信息</li>
            <li class="l_left" >web安全防护信息</li>
            <li class="l_left">入侵检测信息</li>
            <li class="r_right">威胁情报</li>
            <li class="r_right">安全综合评分</li>
            <li class="r_right">用户接入状态</li>
        </ul>
    </div>
  <!--时间加载-->
	<script>
    var t = null;
        t = setTimeout(time,1000);
        function time()
        {
           clearTimeout(t);
           dt = new Date();
            var y=dt.getFullYear();
            var mt=dt.getMonth()+1;
            var day=dt.getDate();
           var h=dt.getHours();
           var m=dt.getMinutes();
           var s=dt.getSeconds();
           document.getElementById("showTime").innerHTML = y+"年"+mt+"月"+day+"-"+h+"时"+m+"分"+s+"秒";
           t = setTimeout(time,1000);
        }
    </script>
</div>

<!-- 主体开始 -->
{% block mainbody %}
{% endblock %}
<!-- 主体结束 -->

<script type="text/javascript" src="{% static 'monit/js/world.js'%}"></script>
<script type="text/javascript" src="{% static 'monit/js/area_echarts.js'%}"></script>

<!-- js开始 -->
{% block jsbody %}
{% endblock %}
<!-- js结束 -->

</body>
</html>
