<!doctype html>
{% load static from staticfiles %}
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>监控</title>
    <script type="text/javascript" src="{% static 'monit/js/jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'monit/css/comon0.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}">
{#    <link rel="stylesheet" href="{% static 'monit/css/layui.css' %}">#}
    <link rel="stylesheet" href="{% static 'monit/icon/iconfont.css' %}" type="text/css">
    <script src="{% static 'monit/icon/iconfont.js' %}"></script>
    <style>
        .icon {
          width: 1em;
          height: 1em;
          vertical-align: -0.15em;
          fill: currentColor;
          overflow: hidden;
        }
        </style>
    <!-- css开始 -->
    {% block css %}
    {% endblock %}
    <!-- css结束 -->

</head>
	<script>
	$(window).load(function(){
             $(".loading").fadeOut()
            })

    /****/
    $(document).ready(function(){
        var whei=$(window).width()
        $("html").css({fontSize:whei/20})
        $(window).resize(function(){
            var whei=$(window).width()
         $("html").css({fontSize:whei/20})
    });
        });
	</script>
	<script type="text/javascript" src="{% static 'monit/js/echarts.min.js'%}"></script>
	<script language="JavaScript" src="{% static 'monit/js/js.js'%}"></script>

	<script language="JavaScript" src="{% static 'monit/js/safety.js'%}"></script>

    <!-- js开始 -->
    {% block script %}
    {% endblock %}
    <!-- js结束 -->

<body>
<div class="loading">
  <div class="loadbox"> <img src="{% static 'monit/picture/loading.gif'%}"> 页面加载中... </div>
</div>





<div class="head">
    <!--侧栏界面设计-->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="{% url 'monit_index' %}?comid={{ compid }}"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-quanju"></use></svg> 网络全局信息</a>
      <a href="{% url 'safety_index' %}?comid={{ compid }}"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-fanghu"></use></svg> web防护信息</a>
      <a href="{% url 'monit_invasion_index' %}?comid={{ compid }}"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-ruqinjiance"></use></svg> 入侵检测信息</a>
      <a href="{% url 'monit_threaten_indexs' %}?comid={{ compid }}"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-weixieqingbao_moren"></use></svg> 威胁情报</a>
        <a href="{% url 'monit_score_scindex' %}?comid={{ compid }}"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-zu"></use></svg> 安全综合评分</a>
        <a href="{% url 'web_center' %}"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-gerenzhongxin"></use></svg> 个人中心</a>
    </div>
    <div class="butts" id="main">
      <span style="font-size:30px;cursor:pointer;color: #ddd;" onclick="openNav()">&#9776; 操作</span>
    </div>

    <!-- 头 -->
    {% block title %}
    {% endblock %}
    <!-- 头结束 -->
    <div class="weather"><span id="showTime"></span></div>
  <!--时间加载-->
	<script>
    var t = null;
        t = setTimeout(time,1000);
        function time()
        {
           clearTimeout(t);
           dt = new Date();
            var y=dt.getFullYear();
            var mt=dt.getMonth()+1;
            var day=dt.getDate();
           var h=dt.getHours();
           var m=dt.getMinutes();
           var s=dt.getSeconds();
           document.getElementById("showTime").innerHTML = y+"年"+mt+"月"+day+"-"+h+"时"+m+"分"+s+"秒";
           t = setTimeout(time,1000);
        }
    </script>
</div>

<!-- 主体开始 -->
{% block mainbody %}
{% endblock %}
<!-- 主体结束 -->

<script type="text/javascript" src="{% static 'monit/js/world.js'%}"></script>
<script type="text/javascript" src="{% static 'monit/js/area_echarts.js'%}"></script>
<script type="text/javascript">
/*打开侧栏，修改侧栏宽度，主体左跨度、背景透明度*/
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
	document.getElementById("main").style.marginLeft = "250px";
    	document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
    /*关闭侧栏，恢复原始侧栏宽度，主体左跨度、背景透明度*/
    function closeNav() {
	document.getElementById("mySidenav").style.width = "0";
	document.getElementById("main").style.marginLeft= "0";
	document.body.style.backgroundColor = "white";
    }
</script>
<!-- js开始 -->
{% block jsbody %}
{% endblock %}
<!-- js结束 -->

</body>
</html>
