{% extends "web/base.html" %}
{% load static from staticfiles %}
<!-- css开始 -->
{% block css %}
    <link rel="stylesheet" href={% static 'monit/css/layui.css' %}>
{% endblock %}
<!-- css结束 -->
    <!-- 头 -->
    {% block title %}
      <h1>安全管理中心</h1>
    {% endblock %}
    <!-- 头结束 -->
{% block mainbody %}
<!--  全局信息监控页面-->
<div class="mainbox">
  <ul class="clearfix">
    <li>
      <div class="boxall" style="height: 3.2rem">
        <div style="height:100%; width: 100%;">
		  	<div class="sya" id="echart1_1"></div>
            <div class="sya" id="echart1_2"></div>
		  </div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 3.2rem">
      <div class="list-down"  style="float: right ;position:absolute;right: 0;z-index:1999">
            <button id="btn1" style="float:right;">. . .</button>
            <ul id="list-chooses1" style="display: none;">
                <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pdo_change(2)">2小时</button></li>
                <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pdo_change(4)">4小时</button></li>
                <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pdo_change(8)">8小时</button></li>
                <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pdo_change(12)">12小时</button></li>
                <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pdo_change(24)">24小时</button></li>
            </ul>
        </div>
        <div class="alltitle">域名被访问次数/时间</div>
        <div class="allnav" id="echart2"></div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 3.2rem">
            <div class="list-down"  style="float: right ;position:absolute;right: 0;z-index:1999">
                <button id="btn2" style="float:right;">. . .</button>
                <ul id="list-chooses2" style="display: none;">
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pwa_change(1)">1天内</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pwa_change(2)">2天内</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pwa_change(3)">3天内</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pwa_change(3)">4天内</button></li>
                </ul>
            </div>
            <div class="alltitle">WAF-攻击趋势</div>
          <div class="allnav" id="echart44"></div>
          <div class="boxfoot"></div>
      </div>
    </li>
    <li>
        <div class="bar">
          <div class="barbox">
            <ul class="clearfix">
              <li class="pulll_left counter" id="dayhit"></li>
              <li class="pulll_left counter" id="allhit"></li>
            </ul>
          </div>
          <div class="barbox2">
            <ul class="clearfix">
              <li class="pulll_left">威胁情报今日命中数 </li>
              <li class="pulll_left">威胁情报总命中数</li>
            </ul>
          </div>
        </div>
        <div class="map boxall" style="height: 5.1rem">
                <div class="list-down"  style="float: right ;position:absolute;right: 0;z-index:1999">
                    <button id="btn5" style="float:right;">. . .</button>
                    <ul id="list-chooses5" style="display: none;">
                        <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pma_change(2)">2小时</button></li>
                        <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pma_change(4)">4小时</button></li>
                        <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pma_change(8)">8小时</button></li>
                        <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pma_change(12)">12小时</button></li>
                        <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pma_change(24)">24小时</button></li>
                    </ul>
              </div>
            <div class="allnav" id="wordmap"></div>
            <div class="boxfoot"></div>
        </div>
         <div class="boxall" style="height: 3rem">
            <div style="height:100%;">
          <div class="sya" id="fb1"></div>
          <div class="sya" id="fb2"></div>
		  </div>
        <div class="boxfoot"></div>
        </div>
    </li>
    <li>
      <div class="boxall" style="height:3.2rem">
          <div class="list-down"  style="float: right ;position:absolute;right: 0;z-index:1999">
                <button id="btn" style="float:right;">. . .</button>
                <ul id="list-chooses" style="display: none;">
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="p_chage(2)">2小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="p_chage(4)">4小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="p_chage(8)">8小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="p_chage(12)">12小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="p_chage(24)">24小时</button></li>
                </ul>
            </div>
        <div class="alltitle">请求数量</div>
        <div class="allnav" id="echart4"></div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 3.2rem">
          <div class="list-down"  style="float: right ;position:absolute;right: 0;z-index:1999">
                <button id="btn3" style="float:right;">. . .</button>
                <ul id="list-chooses3" style="display: none;">
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pfa_change(2)">2小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pfa_change(4)">4小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pfa_change(8)">8小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pfa_change(12)">12小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="pfa_change(24)">24小时</button></li>
                </ul>
          </div>
        <div class="alltitle">主要威胁IP分值</div>
        <div class="allnav" id="echart5"></div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 3.2rem">
            <div class="list-down"  style="float: right ;position:absolute;right: 0;z-index:1999">
                <button id="btn4" style="float:right;">. . .</button>
                <ul id="list-chooses4" style="display: none;">
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="page_click(2)">2小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="page_click(4)">4小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="page_click(8)">8小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="page_click(12)">12小时</button></li>
                    <li><button type = submit style="background: transparent;color: #00FFFF"  onclick="page_click(24)">24小时</button></li>
                </ul>
          </div>
        <div class="alltitle">流量数据</div>
        <div class="allnav">
            <div class="transparentDataTable">
                        <table class="layui-table layui-table-cell" style="TABLE-LAYOUT: fixed"  >
                            <thead>
                            <tr>
                                <th>源IP</th>
                                <th>目的IP</th>
                                <th>源数据</th>
                                <th>响应数据</th>
                            </tr>
                            </thead>
                            <tbody id="tbody" ></tbody>
                        </table>
                        <div style="text-align: center;margin:  0;">
                            <form id="page" action="{% url 'monit_Source_data' %}?comid={{ compid }}">
                                <a class="first_page">
                                    <button type="button"  class="layui-btn layui-btn-primary layui-btn-sm">上一页</button>
                                </a>
                                <a class="now_page">
                                        <button id="now_pages" type="button"   class="layui-btn layui-btn-primary layui-btn-sm"></button>
                                </a>
                                <button id="num_pages" type="button" class="layui-btn layui-btn-primary layui-btn-sm">
                                    共{{ users.paginator.num_pages }}页
                                </button>

                                <a class="last_page">
                                    <button type="button"  class="layui-btn layui-btn-primary layui-btn-sm">下一页</button>
                                </a>
                            </form>
                        </div>
                    </div>
        </div>
        <div class="boxfoot"></div>
    </div>

    </li>
  </ul>
</div>
<div class="back"></div>
{% endblock %}

<!-- js开始 -->
{% block jsbody %}
<script language="JavaScript" src="{% static 'monit/js/exhib.js'%}"></script>

<!--请求数量-->
<script type="text/javascript" >
    change();
    var times = [];
    var values = [];
    var edtime;

    function change(){
      $.getJSON('{% url "monit_main_getnum" %}',function(data){
        times=data.times;
        values=data.number;
        edtime = data.edtime;
        echarts_4(times,values);
        setTimeout(function(){
          p_chage();
        },120000);
      })
    }

    function p_chage(tim) {
        if (tim){
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $.post("{% url 'monit_main_getnum' %}",{'edtime':edtime,'compid':params,'tim':tim}, function(data){
                times = data.times;
                values = data.number;
                edtime = data.edtime;
                echarts_4(times,values);
            },"json");
        } else{
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });
            $.post("{% url 'monit_main_getnum' %}",{'edtime':edtime,'compid':params,'tim':'None'}, function(data){
                times = times.concat(data.times);
                values = values.concat(data.number);
                edtime = data.edtime;
                echarts_4(times,values);
                var n = 20;
                times = times.slice(-n);
                values = values.slice(-n);
                setTimeout(p_chage,120000)//定时调用
            },"json");
        }
    }
</script>
<!--主要访问端口-->
<script type="text/javascript">
        nu_change();
        var nu_port = [];
        var nuvalues = [];
        var nu_edtime;
        function nu_change(){
          $.getJSON('{% url "monit_visitport" %}',function(data){
            nu_port=data.port;
            nu_values=data.number;
            nu_edtime = data.edtime;
            echarts_34(nu_port,nu_values)
          })
        }
</script>
<!--服务器状态码-->
<script type="text/javascript">
        st_change();
        var st_port_data = [];
        var st_yAxis_data = [];
        var color = ['#0E7CE2', '#FF8352', '#E271DE', '#F8456B', '#00FFFF', '#4AEAB0']
        var i = 0;
        var st_series = [];
        var pst_tim = 125000;
        function st_change(){
          $.getJSON('{% url "monit_status_code" %}',function(data){
            st_port_data=data.port;
            st_xAxis_data=data.xAxis;
            st_yAxis_data = data.yAxis;
            st_endtime = data.endtime;
            for (var key in st_yAxis_data)
                {
                    var dat = {};
                    dat["color"] = color[i],
                    dat["name"] = key,
                    dat["type"] = 'bar',
                    dat["barWidth"] = 5,
                    dat["stack"] = 'statu',
                    dat["data"] = st_yAxis_data[key],
                    st_series.push(dat);
                    i++;
                }
            echarts_35(st_series,st_port_data,st_xAxis_data);
            setTimeout(function(){
              pst_change();
            },pst_tim);
          })
        }

        function pst_change() {
            i = 0;
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
            });

            $.post("{% url 'monit_status_code' %}",{'compid':params},"json").success(function(data){
                    if (data=='error'||JSON.stringify(data) == '{}') {
                        setTimeout(pst_change,pst_tim)//定时调用
                    }else{
                        data = JSON.parse(data);
                        st_port_data=[];
                        st_xAxis_data=[];
                        st_series = [];
                        st_port_data=data.port;
                        st_xAxis_data=data.xAxis;
                        st_yAxis_data = data.yAxis;
                        st_endtime = data.endtime;
                        for (var key in st_yAxis_data)
                            {
                                var dat = {};
                                dat["color"] = color[i],
                                dat["name"] = key,
                                dat["type"] = 'bar',
                                dat["barWidth"] = 5,
                                dat["stack"] = 'statu',
                                dat["data"] = st_yAxis_data[key],
                                st_series.push(dat);
                                i++;
                            }
                        echarts_35(st_series,st_port_data,st_xAxis_data);
                        setTimeout(pst_change,pst_tim)
                        }
                }).error(function (xhr, status, info) {
                    console.log(xhr.status+":"+xhr.info);
                })
            }
</script>
<!--域名被访问次数/时间-->
<script type="text/javascript">
        do_change();
        var do_port_data = [];
        var do_yAxis_data = [];
        var do_xAxis_data = [];
        var do_series = [];
        var settime = 121000;
        function do_change(){
          $.getJSON('{% url "monit_domain_infor" %}',function(data){
            do_port_data=data.port;
            do_xAxis_data=data.xAxis;
            do_yAxis_data = data.yAxis;
            var color =['#00f8ff','#00f15a','#0696f9','#dcf776','#499C9F','#7944B7','#F034C1'];
            var i=0;
            for (var key in do_yAxis_data)
                {
                    var ser = {};
                    ser["symbol"] = "none";
                    ser["name"] = key;
                    ser["type"] = 'line';
                    ser["areaStyle"] = {};
                    ser["areaStyle"] = {
                        normal: {
                            borderWidth: 5,
                            color: color[i],
                        }
                    };
                     ser["itemStyle"] = {
                        normal: {
                          color: color[i],
                          borderColor: 'rgba(221, 220, 107, .1)',
                          borderWidth: 12
                        }
                      };
                    i++;
                    ser["data"] = do_yAxis_data[key];
                    do_series.push(ser)
                }
            echarts_2(do_series,do_port_data,do_xAxis_data);
            setTimeout(function(){
              pdo_change();
            },settime);
          })
        }

        function pdo_change(tim) {
                if (!tim) {
                    tim = "None";
                }
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
                $.post("{% url 'monit_domain_infor' %}",{'compid':params,'tim':tim},"json").success(function(data){
                    if (data=='error'||JSON.stringify(data) == '{}') {
                        setTimeout(pdo_change, settime)
                    }else{
                        data = JSON.parse(data);
                        do_port_data=[];
                        do_yAxis_data = [];
                        do_series = [];
                        do_port_data=data.port;
                        do_x_data=data.xAxis;
                        do_yAxis_data = data.yAxis;
                        var color =['#00f8ff','#00f15a','#0696f9','#dcf776','#499C9F','#7944B7','#F034C1'];
                        var i=0;
                        for (var key in do_yAxis_data)
                            {
                                var ser = {};
                                ser["symbol"] = "none";
                                ser["name"] = key;
                                ser["type"] = 'line';
                                ser["areaStyle"] = {};
                                ser["areaStyle"] = {
                                    normal: {
                                        borderWidth: 5,
                                        color: color[i],
                                    }
                                };
                                 ser["itemStyle"] = {
                                    normal: {
                                      color: color[i],
                                      borderColor: 'rgba(221, 220, 107, .1)',
                                      borderWidth: 12
                                    }
                                  };
                                i++;
                                ser["data"] = do_yAxis_data[key];
                                do_series.push(ser)
                            }
                        echarts_2(do_series,do_port_data,do_x_data);
                        if (tim == "None") {
                            setTimeout(pdo_change, settime)
                        }}
                }).error(function (xhr, status, info) {
                    console.log(xhr.status+":"+xhr.info);
                })
        }
</script>
<!--主要威胁IP-->
<script type="text/javascript" >
    fa_change();
    var fa_ip = [];
    var fa_values = [];
    var fa_tim = 18000;

    function fa_change(){
      $.getJSON('{% url "monit_ip_fraction" %}',function(data){
        fa_ip=data.ports;
        fa_values=data.number;
        echarts_5(fa_ip,fa_values);
        setTimeout(function(){
            pfa_change();
        },fa_tim);
      })
    }

    function pfa_change(tim) {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        if (!tim) {
            tim = "None";
        }
        $.post("{% url 'monit_ip_fraction' %}", {'compid': params, 'tim': tim}, "json").success(function (data) {
            if (data == 'error' || JSON.stringify(data) == '{}') {
                setTimeout(pwa_change, wa_time)
            } else {
                data = JSON.parse(data);
                fa_ip = [];
                fa_values = [];
                fa_ip=data.ports;
                fa_values=data.number;
                echarts_5(fa_ip,fa_values);
                if (tim == "None") {
                    setTimeout(pwa_change,fa_tim)
                }
            }
        }).error(function (xhr, status, info) {
            console.log(xhr.status + ":" + xhr.info);
        })
    }


</script>
<!--客户端请求流量-->
<script type="text/javascript" >
    rq_change();
    var rq_tim = 300000;
    var rq_port_data = [];
    var rq_yAxis_data = [];
    var rq_series = [];
    var colors =[
    '#065aab', '#066eab', '#0682ab', '#0696ab',
    '#06a0ab', '#06b4ab', '#06c8ab', '#06dcab', '#06f0ab',
    '#04dd98', '#d9b3e6', '#b6c3fc',
    '#9966cc', '#bdb76a', '#eee8ab', '#a35015',
    '#bcd3bb', '#e88f70', '#9dc5c8', '#e1e8c8',];

    function rq_change(){
      $.getJSON('{% url "monit_Request_traffic" %}',function(data){
        rq_port_data=data.ports;
        rq_yAxis_data=data.yAxis;
        rq_xAxis_data=data.xAxis;
        var i=0;
        for (var key in rq_yAxis_data)
            {
                var ser = {};
                ser["symbol"] = "none";
                ser["name"] = key;
                ser["type"] = 'line';
                // ser["stack"] = 'statu';
                ser["areaStyle"] = {};
                ser["areaStyle"] = {
                    normal: {
                        borderWidth: 5,
                        color: colors[i],
                    }
                };
                 ser["itemStyle"] = {
                    normal: {
                      color: colors[i],
                      borderColor: 'rgba(221, 220, 107, .1)',
                      borderWidth: 12
                    }
                  };
                i++;
                ser["data"] = rq_yAxis_data[key];
                rq_series.push(ser)
            }
        echarts_31(rq_series,rq_port_data,rq_xAxis_data);
        setTimeout(function(){
            prq_change();
        },rq_tim);
      })
    }

    function prq_change(tim) {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        if (!tim) {
            tim = "None";
        }
        $.post("{% url 'monit_Request_traffic' %}", {'compid': params, 'tim': tim}, "json").success(function (data) {
            if (data == 'error' || JSON.stringify(data) == '{}') {
                setTimeout(prq_change, rq_tim)
            } else {
                data = JSON.parse(data);
                rq_port_data=[];
                rq_yAxis_data=[];
                rq_xAxis_data=[];
                rq_series = [];
                rq_port_data=data.ports;
                rq_yAxis_data=data.yAxis;
                rq_xAxis_data=data.xAxis;
                var i=0;
                for (var key in rq_yAxis_data)
                    {
                        var ser = {};
                        ser["symbol"] = "none";
                        ser["name"] = key;
                        ser["type"] = 'line';
                        // ser["stack"] = 'statu';
                        ser["areaStyle"] = {};
                        ser["areaStyle"] = {
                            normal: {
                                borderWidth: 5,
                                color: colors[i],
                            }
                        };
                         ser["itemStyle"] = {
                            normal: {
                              color: colors[i],
                              borderColor: 'rgba(221, 220, 107, .1)',
                              borderWidth: 12
                            }
                          };
                        i++;
                        ser["data"] = rq_yAxis_data[key];
                        rq_series.push(ser)
                    }
                echarts_31(rq_series,rq_port_data,rq_xAxis_data);

                if (tim == "None") {
                    setTimeout(prq_change, rq_tim)
                }
            }
        }).error(function (xhr, status, info) {
            console.log(xhr.status + ":" + xhr.info);
        })
    }

</script>
<!--客户端响应流量-->
<script type="text/javascript" >
    rp_change();
    var rp_tim = 310000;
    var rp_port_data = [];
    var rp_yAxis_data = [];
    var y_num = [];

    function rp_change(){
      $.getJSON('{% url "monit_Response_traffic" %}',function(data){
        rp_port_data=data.port;
        value = data.yAxis;
        for (var num in value){
            y_num.push(value[num])
        }
        rp_yAxis_data=y_num;
        rp_xAxis_data=data.xAxis;
        var charts = {
            unit: 'MB',
            names: rp_port_data,
            lineX: rp_xAxis_data,
            value: rp_yAxis_data,
        };
          var color =['#00f8ff','#00f15a','#0696f9','#dcf776',
                    '#499C9F','#7944B7','#F034C1','#065aab',
                    '#066eab', '#0682ab', '#0696ab',];
        var lineY = [];
        for (var i = 0; i < charts.names.length; i++) {
            var x = i;
            if (x > color.length - 1) {
                x = color.length - 1
            }
            var data = {
                name: charts.names[i],
                type: 'line',
                color: color[x],
                smooth: true,
                areaStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: color[x]
                        }, {
                            offset: 0.8,
                            color: color[x]
                        }], false),
                        shadowColor: 'rgba(0, 0, 0, 0.1)',
                        shadowBlur: 10
                    }
                },
                symbol: 'circle',
                symbolSize: 0.1,
                data: charts.value[i]
            };
            lineY.push(data)
        }
        lineY[0].markLine = {
            silent: true,
            data: [ {
                yAxis: 400
            }]
        };
        echarts_32(lineY,charts);
        setTimeout(function(){
            rp_change();
        },rp_tim);
      })
    }
</script>
<!--waf攻击-->
<script type="text/javascript" >
    wa_change();
    var wa_time = 130000;
    var wa_port_data = [];
    var wa_yAxis_data = [];
    var wa_num = [];
    function wa_change(){
      $.getJSON('{% url "monit_attack_trend" %}',function(data){
        wa_port_data=data.port;
        value = data.yAxis;
        for (var num in value){
            wa_num.push(value[num])
        }
        wa_yAxis_data=wa_num;
        wa_xAxis_data=data.xAxis;
        var wcharts = {
            unit: '数量',
            names: wa_port_data,
            lineX: wa_xAxis_data,
            value: wa_yAxis_data,
        };
        var colors = ['rgba(23, 255, 243', 'rgba(255,100,97','rgba(255,165,0','rgba(0,191,255',
            'rgba(255,69,0','rgba(205,92,92','rgba(199,21,133','rgba(148,0,211'];
        var linesY = [];
        for (var i = 0; i < wcharts.names.length; i++) {
            var x = i;
            if (x > colors.length - 1) {
                x = colors.length - 1
            }
            var data = {
                name: wcharts.names[i],
                type: 'line',
                smooth: true,
                symbol: 'circle',
                symbolSize: 5,
                showSymbol: false,
                areaStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: colors[x] + ', 0.3)'
                        }, {
                            offset: 0.8,
                            color: colors[x] + ', 0)'
                        }], false),
                        shadowColor: 'rgba(0, 0, 0, 0.1)',
                        shadowBlur: 10
                    }
                },
                itemStyle: {
                    normal: {
                        color: colors[x] + ')',
                        borderColor: colors[x] + ')',
                        borderWidth: 12
                    }
                },
                data: wcharts.value[i]
            };
            linesY.push(data)
        }
        echarts_44(linesY,wcharts);
      setTimeout(function(){
          pwa_change();
        },wa_time);
      })
    }

    function pwa_change(tim) {
                $.ajaxSetup({
                    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                });
                if (!tim) {
                    tim = "None";
                }
                $.post("{% url 'monit_attack_trend' %}",{'compid':params,'tim':tim},"json").success(function(data){
                    if (data=='error'||JSON.stringify(data) == '{}') {
                        setTimeout(pwa_change,wa_time)
                    }else{
                        data = JSON.parse(data);
                        wa_port_data = [];
                        value = [];
                        wa_num = [];
                        wa_port_data=data.port;
                        value = data.yAxis;
                        for (var num in value){
                            wa_num.push(value[num])
                        }
                        wa_yAxis_data=wa_num;
                        wa_xAxis_data=data.xAxis;
                        var wcharts = {
                            unit: '数量',
                            names: wa_port_data,
                            lineX: wa_xAxis_data,
                            value: wa_yAxis_data,
                        };
                        var colors = ['rgba(23, 255, 243', 'rgba(255,100,97','rgba(255,165,0','rgba(0,191,255',
                            'rgba(255,69,0','rgba(205,92,92','rgba(199,21,133','rgba(148,0,211'];
                        var linesY = [];
                        for (var i = 0; i < wcharts.names.length; i++) {
                            var x = i;
                            if (x > colors.length - 1) {
                                x = colors.length - 1
                            }
                            var data = {
                                name: wcharts.names[i],
                                type: 'line',
                                smooth: true,
                                symbol: 'circle',
                                symbolSize: 5,
                                showSymbol: false,
                                areaStyle: {
                                    normal: {
                                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                            offset: 0,
                                            color: colors[x] + ', 0.3)'
                                        }, {
                                            offset: 0.8,
                                            color: colors[x] + ', 0)'
                                        }], false),
                                        shadowColor: 'rgba(0, 0, 0, 0.1)',
                                        shadowBlur: 10
                                    }
                                },
                                itemStyle: {
                                    normal: {
                                        color: colors[x] + ')',
                                        borderColor: colors[x] + ')',
                                        borderWidth: 12
                                    }
                                },
                                data: wcharts.value[i]
                            };
                            linesY.push(data)
                        }
                        echarts_44(linesY,wcharts);
                       if (tim == "None") {
                            setTimeout(pwa_change,wa_time)
                        }
                    }
                    }).error(function (xhr, status, info) {
                        console.log(xhr.status+":"+xhr.info);
                    })
    }
</script>
<!--态势地图-->
<script type="text/javascript">
    ma_change();
    var ma_tim = 6000000;
    function ma_change() {
      $.getJSON('{% url "monit_attack_map" %}',function(data) {
          geoCoordMap = data.geoCoordMap;
          BJData = data.BJData;
          word_map(geoCoordMap,BJData);
          setTimeout(function(){
                pma_change();
            },ma_tim);
      });
    }
    function pma_change(tim) {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        if (!tim) {
            tim = "None";
        }
        $.post("{% url 'monit_attack_map' %}", {'compid': params, 'tim': tim}, "json").success(function (data) {
            if (data == 'error' || JSON.stringify(data) == '{}') {
                setTimeout(pma_change, ma_tim)
            } else {
                var geoCoordMap = {};
                var BJData = {};
                data = JSON.parse(data);
                geoCoordMap = data.geoCoordMap;
                BJData = data.BJData;
                word_map(geoCoordMap,BJData);
                if (tim == "None") {
                    setTimeout(pma_change, ma_tim)
                }
            }
        }).error(function (xhr, status, info) {
            console.log(xhr.status + ":" + xhr.info);
        })
    }

</script>
<!--命中数-->
<script type="text/javascript">
    hit_change();
    function hit_change() {
      $.getJSON('{% url "monit_Hit" %}',function(data) {
          var day_hit = data.num_today;
          var all_hit = data.num_all;
           document.getElementById("dayhit").innerHTML = day_hit;
           document.getElementById("allhit").innerHTML = all_hit;
      });
    }
</script>
<!--流量数据-->
<script type="text/javascript">
        // ajax分页
        let now_page = 1;
        // 动态加载第一页数据
        page_click();
        $('.first_page button').removeClass('layui-btn-primary').addClass('layui-btn-disabled');
        $('.now_page button').first().removeClass('layui-btn-primary').addClass('page_this');
        //上一页
        $('.first_page').click(function () {
            now_page -= 1;
            if (now_page < 1) {
                now_page = 1;
                page_click();
                return false
            } else {
                page_click()
            }
        });
        //下一页
        $('.last_page').click(function () {
            now_page += 1;
            if (now_page < 1) {
                now_page -= 1;
                page_click();
                return false
            } else {
                $('.page_this').parent().next().click();
                page_click()
            }
        });
        //切换页
        $('.now_page').click(function () {
            now_page = parseInt($(this).children('button').text());
            $('.now_page button').removeClass('page_this').addClass('layui-btn-primary');
            $(this).addClass('page_this');
            $(this).children('button').removeClass('layui-btn-primary').addClass('page_this');
            page_click()
        });

        function page_click(tim) {
            if(!tim) {
                tim = "None";
            }
            let page_form = $('#page');
            $.ajax({
                type: 'get',
                url: page_form.attr('action'),
                data: {page: now_page,tim:tim},
                success: function (data) {
                    $('#tbody tr').remove();
                    $('#now_pages').html('第'+data.now_page + '页');
                    $('#num_pages').html('共' + data.num_pages + '页');
                    if (data.has_previous === true) {
                        $('.first_page button').removeClass('layui-btn-disabled').addClass('layui-btn-primary');
                    } else {
                        $('.first_page button').removeClass('layui-btn-primary').addClass('layui-btn-disabled')
                    }
                    if (data.has_next === true) {
                        $('.last_page button').removeClass('layui-btn-disabled').addClass('layui-btn-primary');
                    } else {
                        $('.last_page button').removeClass('layui-btn-primary').addClass('layui-btn-disabled');
                    }
                    $.each(data.user_li, function (index, user) {
                        let a = '<td style="color: #00c3f5;width:50%">';
                        let b = '</td>';
                        let body =a + user.yip + b + a + user.mip + b + a + user.ydat + b + a + user.mdat + b;
                        $('#tbody').append('<tr>' + body + '</tr>');
                    });
                }
            })
        }

</script>


{% endblock %}
<!-- js结束 -->