{% extends "web/base.html" %}
{% load static from staticfiles %}
        <!-- css开始 -->
    {% block css %}
        <link rel="stylesheet" href={% static 'monit/css/layui.css' %}>
    {% endblock %}
    <!-- css结束 -->
        <!-- js开始 -->
    {% block script %}
    <script language="JavaScript" src="{% static 'monit/js/score.js'%}"></script>
    {% endblock %}
    <!-- js结束 -->

    <!-- 头 -->
    {% block title %}
    <h1>安全综合评分</h1>
    {% endblock %}
    <!-- 头结束 -->

{% block mainbody %}
<!--  威胁情报监控页面-->
<div class="mainbox">
    <ul class="clearfix">
        <li>
            <div class="boxall" style="height: 5.2rem; width: 100%; float:left">
                <div class="alltitle">【TOTAL】总威胁趋势</div>
              <div class="allnav" id="totalthr"></div>
              <div class="boxfoot"></div>
          </div>
            <div class="boxall" style="height: 5.2rem; width: 100%; float:left">
                <div class="alltitle">【TOTAL】TI威胁趋势</div>
                <div class="allnav" id="tithr"></div>
                <div class="boxfoot"></div>
            </div>
        </li>
        <li>
            <div class="boxall" style="height: 5.2rem; width: 100%; margin-left: auto; margin-right: auto">
                <div class="alltitle">【TOTAL】主要威胁IP分值</div>
                <div class="allnav" id="mainthr"></div>
                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: 5.2rem; width: 100%; float:right">
                <div class="alltitle">【TOTAL】威胁分类</div>
{#                <div class="allnav" id="classthr"></div>#}
                <div class="transparentDataTable">
                    <table class="layui-table layui-table-cell"  >
                        <thead>
                        <tr>
                            <th>源IP</th>
                            <th>目的IP</th>
                            <th>情报类型</th>
                            <th>waf类型</th>
                            <th>数量</th>
                        </tr>
                        </thead>
                        <tbody id="tbody"></tbody>
                    </table>

                    <div style="text-align: center;margin: 0;">
                        <form id="page" action="{% url 'monit_score_count' %}?comid={{ compid }}">
                            <a class="first_page">
                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">上一页</button>
                            </a>

                               {% for num in users.paginator.page_range %}
                                    <a class="now_page">
                                        <button type="button" style="background: #5578f5"  class="layui-btn layui-btn-primary layui-btn-sm">{{ num }}</button>
                                    </a>
                                {% endfor %}

                            <button id="num_pages" type="button" class="layui-btn layui-btn-primary layui-btn-sm">
                                共{{ users.paginator.num_pages }}页
                            </button>

                            <a class="last_page">
                                <button type="button" class="layui-btn layui-btn-primary layui-btn-sm">下一页</button>
                            </a>
                        </form>
                    </div>
                </div>
                <div class="boxfoot"></div>
            </div>
        </li>
        <li>
            <div class="boxall" style="height: 5.2rem; width: 100%; margin-left: auto; margin-right: auto">
                <div class="alltitle">【TOTAL】WEB威胁安全趋势</div>
                <div class="allnav" id="webthr"></div>
                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: 5.2rem; width: 100%; float:right">
                <div class="alltitle">【TOTAL】入侵检测威胁趋势</div>
                <div class="allnav" id="inthr"></div>
                <div class="boxfoot"></div>
            </div>
        </li>
    </ul>
</div>
<div class="back"></div>
{% endblock %}

<!-- js开始 -->
{% block jsbody %}
<!--主要威胁IP分值-->
<script type="text/javascript">
    var tiv_xdata = [];
    var tiv_ydata = [];
    sc_mainthr();
    function sc_mainthr() {
             $.getJSON('{% url "monit_score_mainthr" %}',function(data) {
                    tiv_xdata = data.x_data;
                    tiv_ydata = data.y_data;
                    ec_mainthr(tiv_xdata,tiv_ydata)
                });
        }
</script>

<!--总威胁趋势-->
<script type="text/javascript" >
    sc_totalthr();
    var times = [];
    var values = [];
    var edtime;
    var params = {{ compid }};

    function sc_totalthr(){
      $.getJSON('{% url "monit_score_totalthr" %}',function(data){
        times=data.times;
        values=data.number;
        console.log(times);
        edtime = data.edtime;
        ec_totalthr(times,values);

      })
    }

    function p_totalthr() {
      $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
      });
      $.post("{% url 'monit_score_totalthr' %}",{'edtime':edtime,'compid':params}, function(data){
        times = times.concat(data.times);
        values = values.concat(data.number);
        edtime = data.edtime;

        ec_totalthr(times,values);

        var n = 20;
        times = times.slice(-n);
        values = values.slice(-n);
        setTimeout(p_totalthr,3600000)//定时调用
        },"json");
    }
</script>

<!--TI威胁趋势-->
<script type="text/javascript" >
    sc_tithr();
    var ti_times = [];
    var ti_values = [];
    var ti_edtime;
    var ti_params = {{ compid }};

    function sc_tithr(){
      $.getJSON('{% url "monit_score_tithr" %}',function(data){
        ti_times=data.times;
        ti_values=data.number;
        ti_edtime = data.edtime;
        ec_tithr(ti_times,ti_values);

      })
    }

    function p_tithr() {
      $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
      });
      $.post("{% url 'monit_score_tithr' %}",{'edtime':edtime,'compid':params}, function(data){
        ti_times = times.concat(data.times);
        ti_values = values.concat(data.number);
        ti_edtime = data.edtime;

        ec_tithr(ti_times,ti_values);

        var n = 20;
        ti_times = times.slice(-n);
        ti_values = values.slice(-n);
        setTimeout(p_tithr,3600000)//定时调用
        },"json");
    }
</script>

<!--WEB威胁安全趋势-->
<script type="text/javascript" >
    sc_webthr();
    var we_times = [];
    var we_values = [];
    var we_edtime;
    var we_params = {{ compid }};

    function sc_webthr(){
      $.getJSON('{% url "monit_score_webthr" %}',function(data){
        we_times=data.times;
        we_values=data.number;
        we_edtime = data.edtime;
        ec_webthr(we_times,we_values);

      })
    }

    function p_webthr() {
      $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
      });
      $.post("{% url 'monit_score_webthr' %}",{'edtime':edtime,'compid':params}, function(data){
        we_times = times.concat(data.times);
        we_values = values.concat(data.number);
        we_edtime = data.edtime;
        ec_webthr(we_times,we_values);
        var n = 20;
        we_times = times.slice(-n);
        we_values = values.slice(-n);
        setTimeout(p_webthr,3600000)//定时调用
        },"json");
    }
</script>

<!--入侵检测威胁趋势-->
<script type="text/javascript" >
    sc_inthr();
    var in_times = [];
    var in_values = [];
    var in_edtime;
    var in_params = {{ compid }};

    function sc_inthr(){
      $.getJSON('{% url "monit_score_inthr" %}',function(data){
        in_times=data.times;
        in_values=data.number;
        in_edtime = data.edtime;
        ec_inthr(in_times,in_values);
      })
    }

</script>

<!--表格-->
<script type="text/javascript">

        let now_page = 1;
        // 动态加载第一页数据
        pag_click();
        $('.first_page button').removeClass('layui-btn-primary').addClass('layui-btn-disabled');
        $('.now_page button').first().removeClass('layui-btn-primary').addClass('page_this');
        //上一页
        $('.first_page').click(function () {
            now_page -= 1;
            if (now_page < 1) {
                now_page = 1;
                pag_click();
                return false
            } else {
                $('.page_this').parent().prev().click();
                pag_click()
            }
        });
        //下一页
        $('.last_page').click(function () {
            let num_pages = $('.now_page button').last().text();
            now_page += 1;
            if (now_page > parseInt(num_pages)) {
                now_page -= 1;
                pag_click();
                return false
            } else {
                $('.page_this').parent().next().click();
                pag_click()
            }
        });
        //切换页
        $('.now_page').click(function () {
            now_page = parseInt($(this).children('button').text());
            $('.now_page button').removeClass('page_this').addClass('layui-btn-primary');
            $(this).addClass('page_this');
            $(this).children('button').removeClass('layui-btn-primary').addClass('page_this');
            pag_click()
        });

        function pag_click() {
            let page_form = $('#page');
            $.ajax({
                type: 'GET',
                url: page_form.attr('action'),
                data: {page: now_page},
                success: function (data) {
                    $('#tbody tr').remove();
                    $('#num_pages').html('共' + data.num_pages + '页');
                    if (data.has_previous === true) {
                        $('.first_page button').removeClass('layui-btn-disabled').addClass('layui-btn-primary');
                    } else {
                        $('.first_page button').removeClass('layui-btn-primary').addClass('layui-btn-disabled')
                    }
                    if (data.has_next === true) {
                        $('.last_page button').removeClass('layui-btn-disabled').addClass('layui-btn-primary');
                    } else {
                        $('.last_page button').removeClass('layui-btn-primary').addClass('layui-btn-disabled');
                    }
                    $.each(data.user_li, function (index, user) {
                        let a = '<td style="color: #00aeef">';
                        let b = '</td>';
                        let c = '<div style="color:#00aeef;overflow-y:scroll;width:130px;height:25px;white-space:pre-wrap"${position.specificTasks}</div>'
                        let body = a + user.y_id + b + a + user.m_ip + b + a + user.w_ip + b + a + c + user.waf_ip + b + a + user.number + b;
                        $('#tbody').append('<tr>' + body + '</tr>');
                    });
                }
            })
        }
</script>

{% endblock %}
<!-- js结束 -->
