{% extends "myadmin/base.html" %}

{% block mainbody %}
    <h2>
        大屏监控后台管理首页
    </h2>
    <div class="hero-unit">
        <h3>
            欢迎{{ request.session.adminuser }}登录后台!
        </h3>
        <p>
            华清人秉承“客户第一，持续创新，追求卓越，厚德载物”的价值理念，力争打造中国新一代智能安全的卓越品牌。
        </p>
<!--        <p>-->
<!--            <a href="help.htm" class="btn btn-primary btn-large">Start Tour</a> <a class="btn btn-large">No Thanks</a>-->
<!--        </p>-->
    </div>
    <div class="well summary">
        <ul>
            <li>
                <a href="{% url 'myadmin_users_index' 1 %}"><span class="count">{{ us_count }}</span> 会员信息</a>
            </li>
            <li class="last">
                <a href="{% url 'myadmin_pany_index' 1 %}"><span class="count">{{ co_count }}</span> 业务信息</a>
            </li>
        </ul>
    </div>
{% endblock %}