<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'monweb/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'monweb/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'monweb/css/signin.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static 'monweb/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
    <script src="{% static 'monweb/js/ie-emulation-modes-warning.js' %}"></script>

  </head>

  <body>
    <div class="container">

        <form class="form-signin" method="post" action="{% url 'myadmin_dologin' %}">
          {% csrf_token %}
          <h2 class="form-signin-heading">监控后台管理登录</h2>
          账号：<br/>
          <label for="inputEmail" class="sr-only">请输入账号</label>
          <input type="text" id="inputEmail" class="form-control" name="username" placeholder="请输入账号" required autofocus>
          密码：<br/>
          <label for="inputPassword" class="sr-only">请输入密码</label>
          <input type="password" id="inputPassword" class="form-control" name="password" placeholder="请输入密码" required>
          验证码：<br/>
          <input type="text" name="code" class="span2" style="width:130px;"  />
          <img src="{% url 'myadmin_verify'%}" onclick="this.src='{% url 'myadmin_verify' %}?sn='+Math.random()"/><br />
          <div class="checkbox">
{#            <label>#}
{#              <input type="checkbox" value="remember-me"> Remember me#}
{#            </label>#}
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
        <br/>
        <span style="color:red" id="info"></span>
      </div>
    </div> <!-- /container -->

  </body>
</html>

        <script src="{% static 'myadmin/js/jsencrypt.min.js' %}"></script>    <!--加密库-->
        <script>

        /*动态获取生成的公钥文件*/
        var key= $.ajax({
            url: "/static/myadmin/master-public.pem",
            success: function(data, status) {
            console.log(data.responseText)
                return data;
            },
         });　　　　　　

        $(document).ready(function() {
            $("#login1").click(function ()  {
                var userName=$("#login-username").val();
                var passWord=$("#login-password").val();
                var Code = $("#code").val();
                if (userName == "" || passWord == "" || code == "") {
                    alert("用户名、密码、验证码不能为空！");
                    return false;
                }

                var PUBLIC_KEY = key.responseText;
                /*获取密码并加密*/
                var encrypt = new JSEncrypt();
                encrypt.setPublicKey(PUBLIC_KEY);
                var passWord=encrypt.encrypt(passWord);
                $.ajaxSetup({
                            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                        });
                $.ajax({
                    type: "post",
                    url: "/myadmin/dologin",
                    data: {username: userName, password: passWord, code: Code},
                    dataType: "json",
                    success: function (data) {
                    console.log(data)
                        if(data.msg == 'success')
                        {console.log(1)
                            window.location.href=data.url;
                        }
                        else
                        {console.log(2)
                            $('#info').html(data.info);
                        }
                    },

                });

            })
        })
        </script>

        <script src="{% static 'myadmin/js/site.js' %}"></script>
    </body>
</html>