<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="cn">
    <head>
        <meta charset="utf-8">
        <title>Login - Akira</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'myadmin/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'myadmin/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
        <link href="{% static 'myadmin/css/site.css' %}" rel="stylesheet">
        <script src="{% static 'myadmin/js/jquery.min.js' %}"></script>
        <script src="{% static 'myadmin/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'myadmin/js/jsencrypt.min.js' %}"></script>
<!--        <script src="{% static 'myadmin/js/register.js' %}"></script>-->
        <!--[if lt IE 9]><script src="{% static 'myadmin/js/html5.js' %}"></script><![endif]-->
    </head>
    <body>
        <div id="login-page" class="container">
            <h1>商城后台管理登录</h1>
            <form id="login-form" class="well">
            {% csrf_token %}
            账号：<input type="text" name="username" class="span2" id="login-username" placeholder="输入账号" /><br />
            密码：<input type="password" name="password" class="span2" placeholder="输入密码" id="login-password"/><br />
            验证码：<input type="text" id="code" name="code" class="span2" style="width:30px;"  />
            <img src="{% url 'myadmin_verify'%}" onclick="this.src='{% url 'myadmin_verify' %}?sn='+Math.random()"/><br />
<!--            <label class="checkbox"> <input type="checkbox" /> Remember me </label>-->
                <span>HQsec711</span>
            <button type="button" class="btn btn-primary" id="login1">登录</button>
            <button type="reset" class="btn">重置</button>
        </form>
        <br/>
        <span id="info" style="color:red">{{ info }}</span>
        </div>
        <script>
        $(document).ready(function(){
            var user_name=form1.user.value;
          $("button").click(function(){
            alert(user_name);
          });
        });
        /*动态获取生成的公钥文件*/
        var key= $.ajax({
            url: "static/monweb/master-public.pem",
            success: function(data, status) {
                return data;
            },
         });　　　　　　

        $(document).ready(function() {
            $("#login1").click(function ()  {
                var userName=$("#login-username").val();
                var passWord=$("#login-password").val();
                var Code = $("#code").val();
                if (userName == "" || passWord == "" || code == "") {
                    alert("用户名、密码、验证码不能为空！");
                    return false;
                }

                var PUBLIC_KEY = key.responseText;
                console.log(PUBLIC_KEY)
                //rsa加密
                var encrypt = new JSEncrypt();
                encrypt.setPublicKey(PUBLIC_KEY);
                var passWord=encrypt.encrypt(passWord);
                $.ajaxSetup({
                            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
                        });
                $.ajax({
                    type: "post",
                    url: "/dologin",
                    data: {username: userName, password: passWord, code: Code},
                    dataType: "json",
                    success: function (data) {
                        console.log(data.url)
                        if(data.msg == 'success')
                        {

                            window.location.href=data.url;

                        }
                        else
                        {
                            $('#info').html(data.info);
                        }
                    },

                });

            })
        })
        </script>

        <script src="{% static 'myadmin/js/site.js' %}"></script>
    </body>
</html>