{% extends "myadmin/base.html" %}

{% block mainbody %}
    <h4>
        权限管理
    </h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>账号</th>
                <th>用户名</th>
                <th>企业名称</th>
                <th>企业IP</th>
                <th>ceshi</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for vo in user.compinfo_set.all %}
            <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ vo.comp_name }}</td>
                    <td>{{ vo.comp_ip }}</td>
                    <td>
                        <a href="{% url 'myadmin_lation_del' vo.id %}?k={{ user.id }}" class="btn btn-mini btn-danger">删除权限</a>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}