{% extends "myadmin/base.html" %}

{% block mainbody %}
    <h3>
        会员信息管理
    </h3>
    <form id="edit-profile" action="{% url 'myadmin_pany_update' comp.id %}" class="form-horizontal" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>编辑会员信息</legend>
            <div class="control-group">
                <label class="control-label" for="input01">企业名称：</label>
                <div class="controls">
                    {{ comp.comp_name }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">企业IP：</label>
                <div class="controls">
                    <input type="text" name="compip" class="input-xlarge" id="input01" value="{{ comp.comp_ip }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">企业域名：</label>
                <div class="controls">
                    <input type="text" name="comprealm" class="input-xlarge" id="input01" value="{{ comp.comp_realm }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">端口：</label>
                <div class="controls">
                    <input type="text" name="compport" class="input-xlarge" id="input01" value="{{ comp.port }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">接入状态：</label>
                <div class="controls">
                    <input type="radio" name="accessstatus" class="input-xlarge" id="input01" value="0"
                    {% if comp.access_status == 0 %}checked{% endif %} /> 接入
                    <input type="radio" name="accessstatus" class="input-xlarge" id="input01" value="1"
                    {% if comp.access_status == 1 %}checked{% endif %}/> 未接入
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">接入节点：</label>
                <div class="controls">
                    <input type="text" name="accessnode" class="input-xlarge" id="input01" value="{{ comp.access_node }}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="input01">服务项：</label>
                <div class="controls">
                    <input type="text" name="serviceitems" class="input-xlarge" id="input01" value="{{ comp.service_items }}" />
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">保存</button>
                <a href="{% url 'myadmin_index' %}" class="btn">取消</a>
            </div>
        </fieldset>
    </form>
{% endblock %}