{% extends "myadmin/base.html" %}

{% block mainbody %}
    <h4>
        业务信息管理
    </h4>

    <form class="form-inline" action="{% url 'myadmin_pany_index' 1 %}" method="get">
      <label>关键字：</label>
      <input type="text" name="keyword" value="{{request.GET.keyword}}" class="input-small" placeholder="企业名称">
      <button type="submit" class="btn">搜索</button>
      <a href="{% url 'myadmin_pany_index' 1 %}" class="btn">全部</a>
    </form>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>序号</th>
                <th>企业名称</th>
                <th>企业IP</th>
                <th>企业域名</th>
                <th>企业IP</th>
                <th>状态</th>
                <th>端口</th>
                <th>接入状态</th>
                <th>接入节点</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for vo in pany_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ vo.comp_name }}</td>
                <td>{{ vo.comp_ip }}</td>
                <td>{{ vo.comp_realm }}</td>
                <td>{{ vo.state }}</td>
                <td>{{ vo.port }}</td>
                <td>{% if vo.access_status == 0 %}接入{% else %}未接入{% endif %}</td>
                <td>{{ vo.access_node }}</td>
                <td>{{ vo.service_items }}</td>
                <td>
                    <a href="{% url 'myadmin_pany_edit' vo.id %}" class="btn btn-mini btn-primary">编辑</a>
                    <a href="{% url 'myadmin_pany_del' vo.id %}" class="btn btn-mini btn-danger" onclick='return del();'>删除</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <ul>
            <li>
                <a href="{% url 'myadmin_pany_index' pIndex|add:-1 %}?{{ mywhere|join:'&' }}">&laquo;</a>
            </li>
            {% for p in plist %}
            <li {% if pIndex == p %} class="active" {% endif %}>
                <a href="{% url 'myadmin_pany_index' p %}?{{ mywhere|join:'&' }}">{{p}}</a>
            </li>
            {% endfor %}
            <li>
                <a href="{% url 'myadmin_pany_index' pIndex|add:1 %}?{{ mywhere|join:'&' }}">&raquo;</a>
            </li>
	    </ul>
</div>
<script>
    function del()
    {
        if(confirm("确定要删除吗？"))
        {
            return true;
        }
        else
        {
            return false;
        }
    }
</script>
{% endblock %}