{% extends "web/base.html" %}
{% load static from staticfiles %}
        <!-- css开始 -->
    {% block css %}

    {% endblock %}
    <!-- css结束 -->
        <!-- js开始 -->
    {% block script %}
    {% endblock %}
    <!-- js结束 -->
    <!-- 头 -->
    {% block title %}
<h1>web安全防护监控</h1>
    {% endblock %}
    <!-- 头结束 -->

{% block mainbody %}
<!--  web安全防护监控页面-->
<div class="mainboxs">
  <ul class="clearfix">
    <li>
      <div class="boxall" style="height: 4.9rem">
        <div class="alltitle">攻击趋势</div>
        <div class="allnav" id="echart_a"></div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 5rem">
            <div class="alltitle">【WAF】攻击类型趋势
            </div>
          <div class="allnav" id="echart_c"></div>
          <div class="boxfoot"></div>
      </div>
    </li>
    <li>
        <div class="bar">
          <div class="barbox2">
          <div class="alltitle">攻击分布</div>
          </div>
        </div>
        <div class="map boxall" style="height: 5.6rem">
            <div class="allnav" id="echart_b"></div>
            <div class="boxfoot"></div>
        </div>
        <div class="boxall" style="height: 3.5rem">
        <div style="height:100%;">
        <div class="alltitle">WEB攻击统计</div>
        <div class="allnav" id="waf_info"></div>
        </div>
        </div>
    </li>
    <li >
      <div class="boxall" style="height:3.1rem">
        <div class="alltitle">风险占比</div>
        <div class="allnav" id="echart_j"></div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 3.1rem">
        <div class="alltitle">主要受攻击端口占比</div>
        <div class="allnav" id="echart_k"></div>
        <div class="boxfoot"></div>
      </div>
      <div class="boxall" style="height: 3.5rem">
            <div class="alltitle">TOP10</div>
            <div class="allnav" id="echart_e"></div>
          <div class="boxfoot"></div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}

<!-- js开始 -->
{% block jsbody %}
<!--js开始-->

<!--攻击趋势-->
<script type="text/javascript" >
    st_change()
        var st_port_data = []
        var st_yAxis_data = []

        var st_series = []
        function st_change(){
          $.getJSON('{% url "safety_attack_trend" %}',function(data){
            st_time=data.xAxis;
            st_count = data.yAxis;
            top_edtime = data.edtime;
            echarts_a(st_time,st_count)
          })
        }
</script>

<!--态势地图-->
<script type="text/javascript">
    ma_change();
    function ma_change() {
      $.getJSON('{% url "safety_map" %}',function(data) {
          geoCoordMap = data.geoCoordMap;
          BJData = data.BJData;
          echarts_b(geoCoordMap,BJData);
      });
    }
</script>

<!--waf攻击统计-->
<script type="text/javascript">
    waf_change();
    function waf_change() {
      $.getJSON('{% url "safety_waf_attack_count" %}',function(data) {
          var args = data.data;
          console.log(data)
          var str = "";
          str += "<table width=\"100%\" style=\"overflow:scroll;margin-bottom:50px\" border=\"0\">";
          for (var i = 0; i < args.length; i++) {

              if (i === 0) {
                    str += "<tr style=\"padding:10px 10px;font-size:30px\"><th class='tbc'>时间</th><th class='tbc'>攻击源</th><th class='tbc'>类型</th><th class='tbc'> 域名</th></tr>"
                }else {
                    str += "<tbody><tr>";
                    for (var k = 0; k < args[i].length; k++) {
                        str += " <td class=\"tdc\">" + args[i][k] + "</td>";
                    }
                    str += "</tr></tbody>";
                }
            }
            str += "</table>";
            document.getElementById('waf_info').innerHTML=str
      });
    }
</script>

<!--风险占比-->
<script type="text/javascript">
        nu_change()
        var nu_port = []
        var nu_values = []
        var nu_edtime
        function nu_change(){
          $.getJSON('{% url "safety_risk" %}',function(data){
            nu_port=data.port
            nu_values=data.number
            nu_edtime = data.edtime
            echarts_j(nu_port,nu_values)
          })
        }
</script>

<!--主要攻击端口占比-->
<script type="text/javascript">
        nu_change()
        var nu_port = []
        var nu_values = []
        var nu_edtime
        function nu_change(){
          $.getJSON('{% url "safety_attack_port" %}',function(data){
            nu_types=data.types
            nu_values=data.number
            nu_edtime = data.edtime
            echarts_k(nu_types,nu_values)
          })
        }
</script>

<!--waf类型攻击趋势-->
<script type="text/javascript" >
    sa_change();
    var wa_edtime;
    var wa_port_data = [];
    var wa_yAxis_data = [];
    var wa_num = [];

    function sa_change(){
      $.getJSON('{% url "safety_waf_attack_trend" %}',function(data){
        sa_port_data=data.port;
        value = data.yAxis;
        for (var num in value){
            wa_num.push(value[num])
        }
        sa_yAxis_data=wa_num;
        sa_xAxis_data=data.xAxis;

        var wcharts = {
            unit: '数量',
            names: sa_port_data,
            lineX: sa_xAxis_data,
            value: sa_yAxis_data,
        }
        var colors = ['rgba(23, 255, 243', 'rgba(255,100,97','rgba(255,165,0','rgba(0,191,255',
            'rgba(255,69,0','rgba(205,92,92','rgba(199,21,133','rgba(148,0,211'];

        var linesY = [];
        for (var i = 0; i < wcharts.names.length; i++) {
            var x = i;
            if (x > colors.length - 1) {
                x = colors.length - 1
            }
            var data = {
                name: wcharts.names[i],
                type: 'line',
                smooth: true,
                symbol: 'circle',
                symbolSize: 5,
                showSymbol: false,
                areaStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: colors[x] + ', 0.3)'
                        }, {
                            offset: 0.8,
                            color: colors[x] + ', 0)'
                        }], false),
                        shadowColor: 'rgba(0, 0, 0, 0.1)',
                        shadowBlur: 10
                    }
                },
                itemStyle: {
                    normal: {
                        color: colors[x] + ')',
                        borderColor: colors[x] + ')',
                        borderWidth: 12
                    }
                },
                data: wcharts.value[i]
            };
            linesY.push(data)
        }

        echarts_c(linesY,wcharts)
      })
    }

</script>

<!--top10-->
<script type="text/javascript" >
    top_change();
    var top_ip = [];
    var top_values = [];
    var top_edtime;

    function top_change(){
      $.getJSON('{% url "safety_top" %}',function(data){
        top_ip=data.ips;
        top_values=data.number;
        top_edtime = data.edtime;
        echarts_e(top_ip,top_values)
      })
    }

</script>
{% endblock %}


<!-- js结束 -->